<div class="wizard-content">
    <label for="daily_input_date">Enter Date for Filtering Below:</label>
    <input id="daily_input_date" type="text" value="{today}"> <button id="refresh_date"><i class="fas fa-fw fa-sync"></i> Refresh</button><br>
    <label for="daily_input_workorder">Enter Date for Filtering Below:</label>
    <input id="daily_input_workorder" type="text" value="" placeholder="xxxxx"> <button id="refresh_workorder"><i class="fas fa-fw fa-sync"></i> Refresh</button>
    <br /><br />
    <div id="close">
        <h2><i class="fas fa-spin fa-spinner"></i> Loading</h2>
    </div>
</div>