<tr><td>{pickupId}</td>
    <td>{customerPickupDate}</td>
    <td>{customerStreetAddress}</td>
    <td>{customerDescribeDetail}</td>
    <td>{isBrush}</td>
    <td>{isBulky}</td>
    <td>{isBoth}</td>
    <td><input type="input" id="driver_notes_{pickupId}" value="{pickupDriverNotes}" placeholder="Driver Notes"></td>
    <td><input type="input" id="extra_charges_{pickupId}" value="{pickupExtraCharges}" placeholder="$0"></td>
    <td><button id="close_workorder_{pickupId}">Close</button></td>
</tr>