
<header class="flex">
    <img src="/image/City-of-Plano-Logo.png">
    <button id="focus-new" style="width:auto;margin-left:12px;">New Appointment</button>
    <button id="focus-daily" style="width:auto;margin-left:12px;">Daily Logs</button>
    <button id="focus-close" style="width:auto;margin-left:12px;">Close Workorders</button>
    <button id="focus-reports" style="width:auto;margin-left:12px;">Reports</button>

</header>

<div id="working-area"></div>

<footer>
   Bulky Items Waste Customer Service Portal
</footer>