<div class="wizard-content">
    <label for="daily_input_date">Enter Date for Filtering Below:</label>
    <input id="daily_input_date" type="text" value="{today}"> <button id="refresh"><i class="fas fa-fw fa-sync"></i> Refresh</button><br />
    <button><i class="fas fa-fw fa-print"></i> Print Bulky Route</button>
    <button><i class="fas fa-fw fa-print"></i> Print Brush Route</button><br /><br />
    <div id="daily">
    <h2><i class="fas fa-spin fa-spinner"></i> Loading</h2>
    </div>
</div>