<div class="wizard-content">
    <h2>Contact Information</h2>
    <p>
        <label for="contact_input_name">Your Name:</label><input id="contact_input_name" type="text" placeholder="Robin Smith"/><br/>
        <label for="contact_input_phone">Your Phone Number:</label><input id="contact_input_phone" type="tel" placeholder="469-999-9999" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
    </p>
    <button id="contact_button_next" disabled>Next <i class="fas fa-fw fa-angle-right"></i></button> <em id="contact_button_tip" class="tip-text">Please fill out all fields</em>
</div>