<div class="wizard-content">
    <h2>Your Account Information</h2>

    <table>
        <tr>
            <td><label>Account</label></td>
            <td><label>Street Address</label></td>
            <td><label>Name on Account</label></td>
        </tr>
        <tr>
            <td><strong>#</strong>{BillingAccountNumber}</td>
            <td>{BillingAccountAddress}</td>
            <td>{BillingAccountNameOnAddress}</td>
        </tr>
    </table>

    <p><div class="tip-text"><em>{InformationUsedFreePickups} of 12 Free Pickups Used</em></div><br/>
        Schedule a Pickup for:</p>
    <p>
        <label for="pickup-bulky"><input id="pickup-bulky" name="customer_bulky_pickup_type" type="radio" checked> Bulky
            Waste</label><br/>
        <label for="pickup-trimming"><input id="pickup-trimming" name="customer_bulky_pickup_type" type="radio"> Brush &
            Trimmings</label><br/>
        <label for="pickup-both"><input id="pickup-both" name="customer_bulky_pickup_type" type="radio"> Both <small>(Bulky
            & Brush)</small></label>
        <small>Note: "Both" will count as two Pickups.</small>
    </p>
    <button id="customer_button_information">Next <i class="fas fa-fw fa-angle-right"></i></button>
</div>
