<div class="wizard-content">
    <h2>Notifications</h2>
    <p>
        <label for="notify_select_email"><input id="notify_select_email" type="checkbox"/> Receive Emails at:</label><input id="notify_input_email" type="email" placeholder="you@email.com"/><br/>
        <label for="notify_select_phone"><input id="notify_select_phone" type="checkbox"/> Receive Texts at:</label><input id="notify_input_phone" type="tel" placeholder="469-999-9999" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
    </p>
    <button id="notify_button_next">Next <i class="fas fa-fw fa-angle-right"></i></button> <em id="notify_button_tip" class="tip-text">Please fill out selected item</em>
</div>