<div class="wizard-content">
    <h2>Verify your Utility Account</h2>
<p>
    <label for="auth_input_account">Enter Water Billing Account Number:</label><input id="auth_input_account" type="number" placeholder="12345"/><br/><br/>
    <label for="auth_input_address">Enter Water Billing Billing Address:</label><textarea id="auth_input_address" placeholder="123 Main Street, Plano, TX 75038"></textarea>
</p>
    <button id="auth_button_next" disabled>Next <i class="fas fa-fw fa-angle-right"></i></button> <em id="auth_button_tip" class="tip-text">Please fill out all fields</em>
</div>