<div id="overlay"></div>
<header class="flex space-between">
    <button id="wizard_button_back"><i class="fas fa-angle-left"></i> Previous</button>
    <img src="/image/City-of-Plano-Logo.png">
    <button id="wizard_button_reset" class="warning"><i class="fas fa-fw fa-exclamation-triangle"></i> Reset</button>
</header>
<div class="wizard-content" style="position:relative;margin-bottom: -9pt;">
    <div class="progress">
        <div class="percent" style="width:{percent}%"></div>
    </div>
    {progressBar}
</div>