<header class="flex space-around"><img src="/image/City-of-Plano-Logo.png"></header>
<div class="flex align-center space-around">
    <div class="text-center">
        <i class="fas fa-3x fa-exclamation-triangle warning"></i>
        <h2 class="warning" style="text-align:center;">Reset and Clear Data</h2>
        <p>Reseting the Wizard will clear all your progress and personal information, are you sure you want to do this?</p>
        <button id="modal_button_cancel" class="margin-small-bottom"><i class="fas fa-angle-left"></i> Nevermind, Keep my Progress</button><br/>
        <button id="modal_button_reset" class="warning"><i class="fas fa-fw fa-exclamation-triangle"></i> Yes, Reset and Clear Data</button>
    </div>
</div>