$leading: 18pt;
$font-size: 12pt;
$line-height: 14pt;
$plano-blue: #0a2c74;
$plano-red: #c30e2d;
$border-radius: 4px;


* {
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
}

header, footer, .wizard-content {
  padding: $leading / 2;
}

p {
  font-size: $font-size;
  line-height: $line-height;
}

p > *:last-child {
  margin-bottom: 0;
}

header {
  border-bottom: 1px solid #eee;

  img {
    height: $leading;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  button {
    width: 100px;
  }
}

footer {
  border-top: 1px solid #eee;
  font-size: 11pt;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

label {
  font-size: 0.8em;
  color: #333;
  font-style: oblique;
  display: block;
}

input[type=text], input[type=number], input[type=tel], input[type=email], textarea {
  margin-bottom: $line-height;
  width: 100%;
  max-width: 620px;
  padding: 4pt;
  border: 1px solid #aaaaaa;
}


button {
  height: $leading;
  margin: 0;
  font-size: $font-size*.85;
  outline: 0;
  border: 1px solid $plano-blue;
  background: #fff;
  -webkit-appearance: none;
  padding: 2pt $leading/2;
  border-radius: $border-radius;
  color: $plano-blue;
}

button:hover:not([disabled]) {
  cursor: pointer;
  color: #fff;
  background-color: $plano-blue;
}

.warning {
  color: $plano-red;
  background-color: #fffcfc;
}

button.warning, input.warning, textarea.warning {
  border: 1px solid $plano-red;
}

button.warning:hover:not([disabled]) {
  background-color: $plano-red;
}


button[disabled] {
  border: 1px solid #ddd;
  background-color: #fafafa;
  color: #aaa;
}

.tip-text {
  font-size: 10pt;
  color: #aaa;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-col {
  display: flex;
  flex-flow: column;
  align-items: normal;
}

[class*=-nowrap] {
  flex-wrap: nowrap;
}

[class*=-reverse] {
  flex-direction: row-reverse;
}

[class*=align-start] {
  align-items: flex-start;
}

[class*=align-center] {
  align-items: center;
}

[class*=align-end] {
  align-items: flex-end;
}

[class*=align-stretch] {
  align-items: stretch;
}

[class*=justify-start] {
  justify-content: flex-end;
}

[class*=justify-center] {
  justify-content: center;
}

[class*=justify-end] {
  justify-content: flex-end;
}

[class*=space-between] {
  justify-content: space-between;
}

[class*=space-around] {
  justify-content: space-around;
}

[class*=grow] {
  flex: 1;
}

[class*=first] {
  order: -1;
}

[class*=last] {
  order: 1;
}