<div class="wizard-content">
    <h2>Disclaimer and Charges Information //TODO</h2>
    <p><small>
        <ul>
            <li>The allowed pile size; currently 10’ x 4’ x 4’</li>
            <li>Charges for additional waste beyond the free allowed amount: currently $15 per cubic yard with a $30
                minimum
            </li>
            <li>Told to use their usually waste pickup site; i.e. curb vs alley</li>
            <li>Allowed size and / or weight of large tree branches</li>
            <li>List excluded items, like hazardous chemicals, appliances that use Freon, etc.</li>
            <li>And other necessary information</li>
        </ul>
    </small></p>
    <label for="disclaimer_input_agree"><input id="disclaimer_input_agree" type="checkbox"/> I agree to the Disclaimer &
        Terms of Service</label><br/>
    <button id="disclaimer_button_next" disabled>Next <i class="fas fa-fw fa-angle-right"></i></button>
    <em id="disclaimer_button_tip" class="tip-text">Please agree to the Terms</em>
</div>
