<div class="wizard-content">
    <h2>Bulky Items Pickup Pilot</h2>
    <p><small>A pile that could sit in the alley, blocking traffic and creating an eyesore, for three or more weeks will now be collected within two business days, with most stops collected within one business day. As the pilot progresses and expands to more residents of Plano, we continue to evaluate best practices. The goal of the On-Call Collection Pilot is to explore on-call service as a way to improve the efficiency of our services while saving gas, reducing emissions, preserving equipment and minimizing staffing.</small></p>
    <button id="landing_button_start">Schedule A Bulky Items Pickup <i class="fas fa-fw fa-angle-right"></i></button>
</div>
