<div class="wizard-content">
    <h2>Your Account Information</h2>

    <table>
        <tr>
            <td><label>Account</label></td>
            <td><label>Street Address</label></td>
            <td><label>Name on Account</label></td>
        </tr>
        <tr>
            <td><strong>#</strong>{BillingAccountNumber}</td>
            <td>{BillingAccountAddress}</td>
            <td>{BillingAccountNameOnAddress}</td>
        </tr>
    </table>

    <p><div class="tip-text"><em>{InformationUsedFreePickups} of 12 Free Pickups Used</em></div><br/>
        Schedule a Pickup for:</p>
    <p>
        {optionsGroup}
        <small>Note: "Both" will count as two Pickups.</small>
    </p>
    <button id="customer_button_information">Next <i class="fas fa-fw fa-angle-right"></i></button>
</div>
