<header class="flex space-around"><img src="/image/City-of-Plano-Logo.png"></header>
<div class="flex align-center space-around">
    <div class="text-center">
        <i class="fas fa-3x fa-truck"></i>
        <h2 class="" style="text-align:center;">Pickup Scheduled</h2>
        <p>Your information has been saved, if you have any questions, you may call us at +1 469 999 9999.</p>
        <button id="modal_button_reset" class="margin-small-bottom"><i class="fas fa-check-circle"></i> Done</button><br/>
    </div>
</div>